:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0094a7;
    --gris: #757575;
    --grisClaro: #DFE9F3;
    --fuente-principal: 3.8rem;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--grisClaro) 20%, var(--blanco)100%);
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

h1,
h2,
h3 {
    text-align: center;
}

.titulo span {
    font-size: 2rem;
}


/*Navegación*/

.background-nav {
    background-color: var(--secundario);
}

.nav {
    display: flex;
    flex-direction: column;
}

.nav a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
    text-transform: capitalize;
}

.nav a:hover {
    background-color: #ffc107;
    color: var(--oscuro);
}

@media (min-width: 480px) {
    .nav {
        flex-direction: row;
        justify-content: space-between;
    }
}


/*Hero*/

.hero {
    background-image: url(../img/hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    margin-bottom: 2rem;
    position: relative;
}

.contenido-hero {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenido-hero h2,
p {
    color: var(--blanco);
}

.ubicacion {
    display: flex;
    align-items: flex-end;
}

.boton {
    margin-top: 2rem;
    background-color: var(--secundario);
    padding: 1rem 3rem;
    color: var(--blanco);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    border-radius: .5rem;
}